header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #ffffff79;
    z-index: 50;
}
header ul{
    display: flex;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #fcc922;
    font-size: 1.5rem;
   
}
a:hover{
    color: #000000;
    cursor: url("cursor/cursor2.svg"), auto;
}
.logo{
    height: 80px;
    animation: fadeIn 1s ease-in forwards;
}
.logo:hover {
     animation: pulse 1s infinite;
}

.redes{
    width: 2rem;
    margin-right: 10px;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
.linha-menu-top, .linha-menu-bottom{
    width: 50px;
    height: 5px;
    background-color: #fcc922;
    margin-top: 10px;
    margin-left: -20px;
}
.linha-menu-center{
    background-color: #fcc922;
    height: 5px;
    width: 50px;
    margin-top: 10px;
    margin-left: -20px;
 }
 .menu-toggle{
    display: none;
 }