*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(176, 216, 144);
    color: rgb(0, 0, 0);
}   
header{
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    color: #bb3d3d00;
    font-family:initial;
    padding: 20px 30px;
    text-align: left;
    z-index: 10;
    background-color: #4d44449d;
    
}
a{
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.container{
    display: flex;
    z-index: 40%;
    position: absolute;
    right: 0;
    background-color: rgba(240, 248, 255, 0.651);

}

.logo{
    display: flex;
    width: 70px;
    height: auto;
    display: block;
    margin: 20px auto;
    
}
.rede-social{
    width: 40px;
    height: 40px;
    margin: 10px;
}
