:root {
    --cor-texto-primario: #5c5959;
    --cor-texto-segundario: white;
    --cor-fundo-primario: #fcc922;
    --cor-fundo-segundario: #ffffffab;
    --fonte-principal: 'Arial', 'sans-serif';
    --espacamento: 1rem;
    --tamanho-fonte: 16px;
    

}